/* Common Components Styles */
h3 {
  color: var(--text-color3);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.4px;
  color: var(--accent-color);
  background-color: #e0e8ef;
  border: 2px solid rgba(255, 255, 255, 0.333);
  border-radius: 0.5rem;
  padding: 10px 20px;
  transform: translate(0px, 0px) rotate(0deg);
  transition: 0.2s;
  box-shadow: var(--box-shadow-btn);
}

.btn:hover {
  color: #516d91;
  background-color: #E5EDF5;
  box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
  cursor: pointer;
}

.btn:active {
  box-shadow: none;
}

.primaryBtn {
  background-color: #fffbdb;
  opacity: 2;
  box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
  border: 2px solid rgba(255, 255, 255, 0.333);
}

.primaryBtn:hover {
  background-color: #f5f3e5;
  opacity: 2;
  box-shadow: var(--box-shadow-up)
}

.secondaryBtn:hover {
  box-shadow: var(--box-shadow-up)
}

/* Tertiary Buttons (Menu Links in sidebar) */
.tertiaryBtn {
  background-color: var(--primary-bg);
  outline: 0.05rem solid var(--primary-bg);
  border: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: var(--box-shadow-inset-box);
}

.tertiaryBtn:hover {
  background-color: var(--primary-bg);
  box-shadow: var(--box-shadow-up);
}

.tertiaryBtn.active {
  box-shadow: var(--box-shadow-press);
}

.tertiaryBtn:active {
  padding: 10px 20px;
  background-color: var(--menu-link-active-bg);
  color: var(--text-color);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: var(--box-shadow-up);
}

.tertiaryBtn:active:hover {
  box-shadow: var(--box-shadow-press);
}

/* Language Button */
.toggle-container {
  position: relative;
  aspect-ratio: 292 / 142;
  top: 4rem;
  left: 17rem;
  transform: rotate(-45deg);
  height: 1.875em;
}

.toggle-input {
  appearance: none;
  margin: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.toggle {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.toggle-text{
  font-size: 5rem;
  font-weight: 600;
  fill: var(--text-color2);
  transform: rotate(45deg);

}

.toggle-background {
  fill: var(--accent-color2);
  transition: fill .4s;
}

.toggle-input:checked+.toggle .toggle-background {
  fill: var(--accent-color2);
}

.toggle-circle-center {
  transform-origin: center;
  transition: transform .6s;
}

.toggle-input:checked+.toggle .toggle-circle-center {
  transform: translateX(150px);
}

.toggle-circle {
  transform-origin: center;
  transition: transform .45s;
  backface-visibility: hidden;
}

.toggle-circle.left {
  transform: scale(1);
}

.toggle-input:checked+.toggle .toggle-circle.left {
  transform: scale(0);
}

.toggle-circle.right {
  transform: scale(0);
}

.toggle-input:checked+.toggle .toggle-circle.right {
  transform: scale(1);
}

.toggle-icon {
  transition: fill .4s;
}

.toggle-icon.on {
  fill: var(--accent-color2);
}


.toggle-input:checked+.toggle .toggle-icon.off {
  fill: var(--accent-color2);
}


.wrapper {
  position: absolute;
  top: 59rem;
  left: -7rem;
  width: 300px;
  height: 300px;
}


/* —–––––––––– Botón —–––––––––– */
.dot {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;

  background: radial-gradient(circle at 60% 40%, #cfcaea, #696e7e);
  box-shadow:
    0 0 10px rgba(80, 159, 255, 0.4),
    0 0 25px rgba(90, 184, 255, 0.3);

  offset-path: path("M 56 130 Q 65 185 105 202");
  offset-rotate: 0deg;

  animation: move 3s infinite ease-in-out alternate;
}

@keyframes move {
  from {
    offset-distance: 0%;
  }

  to {
    offset-distance: 100%;
  }
}