/* Responsive styles */
.layout {
  margin: 5vh auto;
  width: 90%;
 }

@media (max-width: 1300px) {
  .layout__aside {
    height: 90vh;
  }

  .toggle-container {
    position: absolute;
    aspect-ratio: 292 / 142;
    top: 2rem;
    left: 10rem;
    transform: rotate(-45deg);
    height: 1.875em;
  }

  .user-info__container-image {
    width: 9rem;
  }

  .user-info__link {
    justify-content: center;
  }

  .user-info__name {
    font-size: 1.1rem;
  }

  .user-info__email {
    font-size: 0.95rem;
  }

  .tertiaryBtn {
    padding: 1rem;
  }

  .aside__buttons {
    gap: 4rem;
  }

  .wrapper {
    top: 29rem;
  }


  .card__item {
    width: 29rem;
    height: 34rem;
  }

  .content__project {
    justify-content: end;
  }

  .card__buttons {
    gap: 1rem;
  }

  .btn {
    font-size: 1rem;
    padding: 1rem;
    font-weight: 600;
  }

}

@media (max-width: 1240px) {
  .layout {
    grid-template-columns: 19% 81%;
  }
}

@media (max-width: 768px) {
  .layout {
    position: relative;
    width: 95%;
    height: auto;
    min-height: auto;
    margin: 5vh auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow-main);

  }

  .layout__aside {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
  }

  .layout__content {
    width: 100%;
    min-height: 100%;
  }

  .content__skills {
    flex-direction: column;
  }

  .skills__textContent,
  .skills__container {
    width: 100%;
  }

  .studies__item {
    flex-direction: column;
    gap: 1rem;
  }

  .studies__date {
    min-width: auto;
  }
}