@use 'variables.scss' as *;

// Import partials
@forward 'base';
@forward 'layout';
@forward 'components';
@forward 'animations';
@forward 'responsive';

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

body {
  width: 100%;
  height: auto; //Para que la altura de adapte al contenido
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: $text-color;

  background: linear-gradient(270deg, $highlight-color2, #beb1fb);
  background-size: 800% 800%;
  -webkit-animation: backgroundAnimation 10s ease infinite;
  -moz-animation: backgroundAnimation 10s ease infinite;
  animation: backgroundAnimation 10s ease infinite;
  transition: .10s ease-in-out;

  overflow: hidden;
}


h1 {
  font-size: 2.5rem;
}



/*Barra lateral*/
.layout__aside {
  width: 100%;
  height: auto;
  min-height: auto;
  border-radius: 1rem 1rem 0 0;
  overflow: auto;
  overflow-x: hidden;
  @include box-style();
}

.layout__content {
  width: 100%;
  height: auto;
  min-height: auto;
  overflow: auto;
  overflow-x: hidden;
}

/*Barra lateral*/
.layout__aside {
  grid-area: aside;
  height: 85vh;
  min-height: 85vh;
  border-radius: 2rem 0 0 2rem;
  overflow: auto;
  overflow-x: hidden; // todo lo que sobresalga en la horizontal se oculta
  @include box-style();

  .aside__user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 85%;
    min-width: 20rem;
  }

  .user-info__general {
    margin-top: 2rem;
    text-align: center;

    .user-info__container-image {
      position: relative;
      display: inline-block;
      width: 12rem;
      margin-top: 1rem;
      border: 1px solid $white-shadow;
      border-radius: 20rem;
      overflow: hidden;
      @include up-shadow();

      .user-info__image {
        width: 100%;
        box-shadow: $inner-shadow;
      }
    }

    .user-info__links {
      margin-top: 1.5rem;
      @include flex-box($direction: row, $justify: start, $align-items: center, $gap: 1rem);
      color: $highlight-color2;
    }

    .user-info__name {
      font-size: 1.8rem;
      font-weight: 600;
      color: $highlight-color2;
    }

    .user-info__email {
      opacity: 60%;
      font-size: 1.3rem;
    }
  }

  .aside__menu {
    margin-top: 4rem;
    margin-bottom: 2rem;
    @include flex-box($gap: 0.5rem);


    .menu__link {
      font-size: 1.2rem;
      margin-top: 2rem;
      @include secondary-button();
    }
  }

  .aside__buttons {
    margin-top: 3rem;
    @include flex-box(center, $gap: 10rem);

    .buttons__switch {
      position: relative;
      width: 60px;
      height: 30px;
      display: inline-block;

      input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      .switch__slider {
        cursor: pointer;
        @include up-shadow();
        border-radius: 50px;
        width: 100%;
        height: 100%;
        transition: background-color 0.3s;

        .switch__slider-face {
          @include flex-box(row, $gap: 0.2rem);
          position: absolute;
          left: 4.5px;
          top: 4.5px;
          width: 25px;
          height: 20px;
          background-color: white-shadow;
          @include press-shadow();
          border-radius: 50px;
          transition: 0.3s;

          .switch__slider-eyeRight,
          .switch__slider-eyeLeft {
            width: 5px;
            height: 5px;
            background-color: $accent-color2;
            border-radius: 50%;
            transition: background-color 0.3s;

            &.switch__slider-eyeLeft {
              margin-right: 3px;
            }
          }
        }

        input:checked+& {
          background-color: $highlight-color2;

          .switch__slider-face {
            transform: translateX(25px);
          }

          .switch__slider-eyeRight,
          .switch__slider-eyeLeft {
            background-color: transparent;
            border: solid 0.05rem $text-color;
            border-top: transparent;
          }
        }
      }
    }

    .buttons__language {
      @include deep__box($color: $accent-color2);
    }
  }
}

.layout__content {
  grid-area: content;
  height: 100%;
  min-height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

/* Hero Section */
.content__page {
  @include flex-box(column, center, center);
  padding: 5rem;
  min-height: 100%;

  .page__text {
    max-width: 50%;
    padding: 2rem 0 2rem 0;

  }

  .page__title {
    color: $text-color;
    opacity: 0.7;

    .title__name {
      font-family: "Nunito", serif;
    }

    span {
      color: $accent-color2;
      font-family: "Nunito", serif;
    }
  }

  .page__btn {
    @include flex-box(row, start, $gap: 4rem);
    margin-top: 3rem;

    .btn__email {
      @include primary-button($accent-color2);
    }

    .btn__cv {
      @include primary-button();
    }
  }
}

/* Skills Section */

.content__skills {

  height: 100%;
  min-height: 100%;

  display: grid;
  grid-template-areas: "text skills";
  grid-template-columns: 60% 40%;

}

.skills__textContent {
  grid-area: text;

  @include flex-box(column, start, start, $gap: 1rem);
  text-align: start;
}

.textContent__title {
  margin: 1.8rem 0;
  color: $highlight-color2;
}

.textContent__subtitle {
  font-size: medium;
  color: $accent-color2;
  font-weight: 500;
  margin-top: 3rem;
}

.textContent__container {
  @include flex-box(row, start, start, $gap: 1rem);
  flex-wrap: wrap;
}

.textContent__skills {
  @include flex-box(row, $gap: 0.5rem);

  .textContent__iconCircle {
    @include flex-box(column, center, center);
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100%;
    background: #e8e8e8;
    box-shadow: inset 3px 3px 5px #c5c5c5,
      inset -3px -3px 5px #ffffff;
  }

  .textContent__iconCircle .fas {
    font-size: 1rem;
    color: $accent-color2;
  }
}

.skills__container {
  grid-area: skills;
  @include flex-box(column, $gap: 2rem);


  .container__group {
    @include flex-box(row, $gap: 2rem);
    flex-wrap: wrap;
  }

  .container__tech {
    padding: 0.5rem;
  }

  .container__tech i {
    font-size: 2rem; // Ajusta el tamaño de los íconos
  }

  .hidden {
    display: none;
  }

  /* Switch */
  .skills__switch {
    position: relative;
    display: inline-block;
    width: 160px;
    height: 20px;


    .switch__input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .skills__slider {
      @include press-shadow();
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      cursor: pointer;
      width: 160px;
      border-radius: 34px;
      transition: 0.4s;
      z-index: 2; // Asegura que el slider esté por encima
    }

    .skills__slider::before {
      position: absolute;
      content: "";
      height: 20px;
      width: 80px;
      left: 2px;
      top: 0;
      bottom: 0;
      background: linear-gradient(to bottom, $highlight-color, $highlight-color2);
      border-radius: 15px;
      box-shadow: 2px 5px 20px #c1c6ce, -0.5px -0.5px 2px #ffffff;
      transition: 0.4s;
      z-index: 2; // Mantiene el pseudo-elemento por encima
    }

    input:checked+.skills__slider::before {
      transform: translateX(80px);
    }

    .skills__label {
      font-size: 1.2rem;
      font-weight: 700;
      opacity: 70%;
      margin: 0.1rem 0 0 9rem; // Simplifica el margin
      z-index: 1; // Asegura que el texto esté por debajo
      transition: transform 0.4s; // Añade una transición para el movimiento
    }

    input:checked+.skills__slider .skills__label {
      transform: translateX(-8rem); // Mueve el label cuando se activa el switch
    }
  }
}

/* Projects Section */
.layout__projects {
  padding: 50px;
  text-align: center;
  overflow: auto;
}

.projects__container {
  @include flex-box($direction: row, $justify: center, $align-items: center, $gap: 2rem);
}

.projects__item {
  background-color: transparent;
  padding: 20px;
  width: 30rem;
  height: 40rem;
  perspective: 1000px;
}

.item__inner {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  @include card-style();
  background-color: $secundary-bg;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.projects__item:hover .item__inner {
  transform: rotateY(180deg);
}

.item__front,
.item__back {
  @include card-style();
  position: absolute;
  @include flex-box($direction: column, $justify: center);
  width: 100%;
  height: 100%;
  padding: 20px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
}

.item__back {
  transform: rotateY(180deg);
}

.item__title {
  font-size: 1rem;
}

.item__img{
  width: 100%;
  height: 100%;
  border-radius: 0 3rem 0 0;
}

.item__text {
  font-size: 1rem;
  margin-top: 1rem;
}

.projects__skill {
  @include flex-box ($direction: row, $justify: center, $align-items: center, $gap: 0.5rem);
  margin-top: 3rem;
}

.skill__item {
  @include flex-box ($direction: row, $justify: center, $align-items: center, $gap: 0.5rem);
  font-size: 1.5rem;
  text-align: center;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 100%;
  @include card-style($bg-color: #e8e8e8);
}

/* Studies Section */
.content__studies {
  @include flex-box(row, $justify: start, $align-items: end);
  width: 90%;
  height: 100%;
  min-height: 100%;

}

.studies__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  @include flex-box($justify: start, $align-items: end);
  gap: 30px;
}

/* studies Item */
.studies__item {
  @include flex-box($direction: row, $justify: start, $align-items: start, $gap: 7rem);
  position: relative;
  padding-left: 2.5rem;
  font-size: 1rem;
}

/* Content Elements */
.studies__content {
  max-width: 600rem;
}

.studies__title {
  font-weight: bold;
  color: $accent-color2;
}

.studies__institution {
  font-style: italic;
  color: $highlight-color2;
  font-family: "Nunito", serif;
}

.studies__date {
  min-width: 3rem;
  color: $accent-color2;
  margin-bottom: 0.8 rem;
  font-weight: 500;
}

.studies__description {
  line-height: 1.6;
  color: $text-color;
}



/* Footer */
footer {
  text-align: center;
  font-size: 1rem;
}